@import 'tailwindcss';

.story {
  border-radius: 50%;
  padding: 4px;
  overflow: hidden;
  background: linear-gradient(to right top, #ffc600 20%, #ff0040, #e600cc 80%);
  /* border: 2px solid transparent; */
}

.story.viewed {
  border: 2px solid gray;
  background: none;
}

.swiper {
  /* width: 70vw;
  height: 50vh; */
  @apply w-full h-full md:w-[70vw] md:h-[80vh] xl:h-[90vh] xl:w-[30vw];
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: grey;
}
